@model IEnumerable<TocHTraineesSelectionDetails.Models.Trainee>
@{
    ViewData["Title"] = "ShowTrainees";
}


<h1>ShowTrainees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.id}) 
                   
                    @Html.ActionLink("Details", "Details", new { id = item.id }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
               
                </td>
            </tr>
        }
    </tbody>
</table>
